
.mat-expansion-panel {
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mat-expansion-panel-header {
  background-color:none;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
}

.mat-expansion-panel-content {
  padding: 16px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

button[type="submit"] {
  align-self: flex-end;
}

textarea {
  resize: vertical;
}
.no-notes-message {
  text-align: center;
  font-size: 20px; /* Adjust the font size as needed */
  color: #757575;
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.delete-button {
  background-color: green;
  border: none;
  color:white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
  
}
.error-message {
  color: red;
  margin-top: 8px;
}
